<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="text-700 text-center">
    <div class="text-blue-600 font-bold mb-3">
      <i class="pi pi-lock"></i>&nbsp;PRIVATE ROUTE
    </div>
    <div class="text-900 font-bold text-5xl mb-3">You Made It!</div>
    <div class="text-700 text-2xl mb-5">
      Congratulations, you made it to this private route.<br />That means you
      are logged in and passed the auth guard challenge.
    </div>
    <button
      pButton
      pRipple
      label="Go Home"
      icon="pi pi-home"
      class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"
      routerLink="/"
    ></button>
  </div>
</div>
