<ng-supabase-toolbar (showSettings)="showSettings()"></ng-supabase-toolbar>

<p-toast></p-toast>
<p-drawer position="right" [(visible)]="showSettingsSidebar">
  <h3>Supabase API Settings</h3>
  <ng-template pTemplate="content">
    <ng-supabase-settings></ng-supabase-settings>
  </ng-template>
</p-drawer>

<main class="mx-auto">
  <section class="mb-4">
    <p-fieldset>
      <ng-template pTemplate="header">
        <div class="flex items-center gap-2 px-2">
          <i class="pi pi-info-circle"></i>
          <span class="font-bold">Getting Started</span>
        </div>
      </ng-template>

      <p class="m-2">
        The purpose of this demo site is to demonstrate the usage of the
        <a href="https://github.com/rustygreen/ng-supabase" target="_blank"
          >ng-supabase</a
        >
        library. "ng-supabase" is a library that provides various components for
        interacting with the supabase API - such as logging in, registering an
        account, logging out, changing password, etc. The goal of this project
        is to replace the boilerplate code necessary to setup an Angular
        application to use ng-supabase.
      </p>

      <ol class="list-decimal ml-8 mt-4">
        <li>
          Create a
          <a href="https://supabase.com/dashboard" target="_blank"
            >Supabase project</a
          >
        </li>
        <li>
          Configure the supabase API URL and key (<a
            href=""
            (click)="showSettings($event)"
            >set here</a
          >
          |
          <a
            href="https://supabase.com/docs/reference/javascript/initializing#initializing"
            target="_blank"
            >docs here</a
          >)
        </li>
        <li>Explore the available components (sign up, sign in, etc.)</li>
      </ol>
    </p-fieldset>
  </section>

  <h1>Session Info</h1>
  <div class="flex items-center mb-4">
    <h3 class="m-0 mr-2">Status:</h3>
    <p-chip
      [label]="supabase.isSignedIn ? 'Signed in' : 'Not signed in'"
    ></p-chip>
  </div>

  @if(supabase.isSignedIn){
  <h3>
    Display Name:
    <p-chip label="{{ supabase.userDisplayName | async }}"></p-chip>
  </h3>
  } @if(supabase.isSignedIn){
  <div class="mb-4">
    <p-button
      label="Sign out"
      class="mr-3"
      icon="pi pi-sign-out"
      severity="danger"
      (click)="signOut()"
    ></p-button>

    <p-button
      label="Set password"
      class="mr-3"
      icon="pi pi-lock"
      severity="secondary"
      routerLink="/primeng/set-password"
    ></p-button>
  </div>
  }@else{
  <h1 class="flex items-center">
    <i class="pi pi-prime mr-1"></i>
    PrimeNG Components
  </h1>
  <div class="mb-3">
    <p-button
      label="Sign Up"
      icon="pi pi-user-plus"
      severity="success"
      routerLink="/primeng/register"
    ></p-button>

    <p-button
      label="Log In"
      class="ml-3"
      routerLink="/primeng/sign-in"
      icon="pi pi-sign-in"
    ></p-button>

    <p-button
      label="Register or Sign In"
      class="ml-3"
      severity="secondary"
      routerLink="/primeng/auth"
      icon="pi pi-user"
    ></p-button>

    <p-button
      class="ml-3"
      label="Sign In (popup window)"
      severity="secondary"
      icon="pi pi-external-link"
      [disabled]="true"
    ></p-button>

    <p-button
      label="Reset password"
      class="ml-3"
      routerLink="/primeng/reset-password"
      severity="warn"
      icon="pi pi-replay"
    ></p-button>
  </div>

  <h1 class="flex items-center mt-6">
    <i class="pi pi-google mr-1"></i>
    Material Components
  </h1>
  <h3>Coming soon...</h3>
  <div class="mb-3">
    <p-button
      label="Sign Up"
      icon="pi pi-user-plus"
      severity="success"
      routerLink="/material/register"
      [disabled]="true"
    ></p-button>

    <p-button
      label="Log In"
      class="ml-3"
      routerLink="/material/sign-in"
      icon="pi pi-sign-in"
      [disabled]="true"
    ></p-button>

    <p-button
      label="Register or Sign In"
      class="ml-3"
      severity="secondary"
      routerLink="/material/auth"
      icon="pi pi-user"
      [disabled]="true"
    ></p-button>

    <p-button
      class="ml-3"
      label="Sign In (popup window)"
      severity="secondary"
      icon="pi pi-external-link"
      [disabled]="true"
    ></p-button>

    <p-button
      label="Reset password"
      class="ml-3"
      routerLink="/material/reset-password"
      severity="warn"
      icon="pi pi-replay"
      [disabled]="true"
    ></p-button>
  </div>

  <h1 class="flex items-center mt-6">
    <i class="pi pi-twitter mr-1"></i>
    Bootstrap Components
  </h1>
  <h3>Coming soon...</h3>
  <div class="mb-3">
    <p-button
      label="Sign Up"
      icon="pi pi-user-plus"
      severity="success"
      routerLink="/bootstrap/register"
      [disabled]="true"
    ></p-button>

    <p-button
      label="Log In"
      class="ml-3"
      routerLink="/bootstrap/sign-in"
      icon="pi pi-sign-in"
      [disabled]="true"
    ></p-button>

    <p-button
      label="Register or Sign In"
      class="ml-3"
      severity="secondary"
      routerLink="/bootstrap/auth"
      icon="pi pi-user"
      [disabled]="true"
    ></p-button>

    <p-button
      class="ml-3"
      label="Sign In (popup window)"
      severity="secondary"
      icon="pi pi-external-link"
      [disabled]="true"
    ></p-button>

    <p-button
      label="Reset password"
      class="ml-3"
      routerLink="/bootstrap/reset-password"
      severity="warn"
      icon="pi pi-replay"
      [disabled]="true"
    ></p-button>
  </div>
  }

  <div class="mt-3">
    <p-button
      label="Go to private route"
      class="mr-3"
      icon="pi pi-lock"
      severity="danger"
      routerLink="/private-content"
    ></p-button>
  </div>
</main>
