<ng-supabase-toolbar (showSettings)="showSettings()"></ng-supabase-toolbar>

<p-toast></p-toast>
<p-sidebar position="right" [(visible)]="showSettingsSidebar">
  <h3>Supabase API Settings</h3>
  <ng-template pTemplate="content">
    <ng-supabase-settings></ng-supabase-settings>
  </ng-template>
</p-sidebar>

<main class="mx-auto">
  <section>
    <p-fieldset legend="Getting Started">
      <p class="m-0">
        The purpose of this demo site is to demonstrate the usage of the
        <a
          href="https://github.com/rustygreen/ng-supabase"
          target="_blank"
          rel="noopener"
          >ng-supabase</a
        >
        library. "ng-supabase" is a library that provides various components for
        interacting with the supabase API - such as logging in, registering an
        account, logging out, changing password, etc. The goal of this project
        is to replace the boilerplate code necessary to setup an Angular
        application to use ng-supabase.
      </p>

      <ol>
        <li>
          Create a
          <a
            href="https://supabase.com/dashboard"
            target="_blank"
            rel="noopener"
            >Supabase project</a
          >
        </li>
        <li>
          Configure the supabase API URL and key (<a
            href=""
            (click)="showSettings($event)"
            >set here</a
          >
          |
          <a
            href="https://supabase.com/docs/reference/javascript/initializing#initializing"
            target="_blank"
            rel="noopener"
            >docs here</a
          >)
        </li>
        <li>Explore the available components (sign up, sign in, etc.)</li>
      </ol>
    </p-fieldset>
  </section>

  <h1>Session Info</h1>
  <h3>
    Status:
    <p-chip
      [label]="supabase.isSignedIn ? 'Signed in' : 'Not signed in'"
    ></p-chip>
  </h3>

  @if(supabase.isSignedIn){
  <h3>
    Display Name:
    <p-chip label="{{ supabase.userDisplayName | async }}"></p-chip>
  </h3>
  } @if(supabase.isSignedIn){
  <div>
    <p-button
      label="Sign out"
      class="mr-3"
      icon="pi pi-sign-out"
      severity="danger"
      (click)="signOut()"
    ></p-button>

    <p-button
      label="Set password"
      class="mr-3"
      icon="pi pi-lock"
      severity="secondary"
      routerLink="/primeng/set-password"
    ></p-button>
  </div>
  }@else{
  <h1>
    <i class="pi pi-prime text-2xl text-400"></i>
    PrimeNG Components
  </h1>
  <div class="mb-3">
    <p-button
      label="Sign Up"
      icon="pi pi-user-plus"
      severity="success"
      routerLink="/primeng/register"
    ></p-button>

    <p-button
      label="Log In"
      class="ml-3"
      routerLink="/primeng/sign-in"
      icon="pi pi-sign-in"
    ></p-button>

    <p-button
      label="Register or Sign In"
      class="ml-3"
      severity="secondary"
      routerLink="/primeng/auth"
      icon="pi pi-user"
    ></p-button>

    <p-button
      class="ml-3"
      label="Sign In (popup window)"
      severity="secondary"
      icon="pi pi-external-link"
      [disabled]="true"
    ></p-button>

    <p-button
      label="Reset password"
      class="ml-3"
      routerLink="/primeng/reset-password"
      severity="warning"
      icon="pi pi-replay"
    ></p-button>
  </div>

  <h1>
    <i class="pi pi-google text-2xl text-400"></i>
    Material Components
  </h1>
  <h3 class="text-400">Coming soon...</h3>
  <div class="mb-3">
    <p-button
      label="Sign Up"
      icon="pi pi-user-plus"
      severity="success"
      routerLink="/material/register"
      [disabled]="true"
    ></p-button>

    <p-button
      label="Log In"
      class="ml-3"
      routerLink="/material/sign-in"
      icon="pi pi-sign-in"
      [disabled]="true"
    ></p-button>

    <p-button
      label="Register or Sign In"
      class="ml-3"
      severity="secondary"
      routerLink="/material/auth"
      icon="pi pi-user"
      [disabled]="true"
    ></p-button>

    <p-button
      class="ml-3"
      label="Sign In (popup window)"
      severity="secondary"
      icon="pi pi-external-link"
      [disabled]="true"
    ></p-button>

    <p-button
      label="Reset password"
      class="ml-3"
      routerLink="/material/reset-password"
      severity="warning"
      icon="pi pi-replay"
      [disabled]="true"
    ></p-button>
  </div>

  <h1>
    <i class="pi pi-twitter text-2xl text-400"></i>
    Bootstrap Components
  </h1>
  <h3 class="text-400">Coming soon...</h3>
  <div class="mb-3">
    <p-button
      label="Sign Up"
      icon="pi pi-user-plus"
      severity="success"
      routerLink="/bootstrap/register"
      [disabled]="true"
    ></p-button>

    <p-button
      label="Log In"
      class="ml-3"
      routerLink="/bootstrap/sign-in"
      icon="pi pi-sign-in"
      [disabled]="true"
    ></p-button>

    <p-button
      label="Register or Sign In"
      class="ml-3"
      severity="secondary"
      routerLink="/bootstrap/auth"
      icon="pi pi-user"
      [disabled]="true"
    ></p-button>

    <p-button
      class="ml-3"
      label="Sign In (popup window)"
      severity="secondary"
      icon="pi pi-external-link"
      [disabled]="true"
    ></p-button>

    <p-button
      label="Reset password"
      class="ml-3"
      routerLink="/bootstrap/reset-password"
      severity="warning"
      icon="pi pi-replay"
      [disabled]="true"
    ></p-button>
  </div>
  }

  <div class="mt-3">
    <p-button
      label="Go to private route"
      class="mr-3"
      icon="pi pi-lock"
      severity="warning"
      routerLink="/private-content"
    ></p-button>
  </div>
</main>

<p-dialog
  header="Connect to Supabase"
  [modal]="true"
  [closable]="false"
  [(visible)]="supabaseNeedsConfigured"
>
  <span class="p-text-secondary block mb-5">
    Connect this app to your supabase instance.
  </span>

  <h4>Steps:</h4>
  <ol>
    <li>
      Create a
      <a href="https://supabase.com/dashboard" target="_blank" rel="noopener"
        >Supabase project</a
      >
      (if needed)
    </li>
    <li>Enter your instance details below</li>
  </ol>

  <ng-supabase-settings
    [useConfigValues]="false"
    (saved)="supabaseNeedsConfigured = false"
  ></ng-supabase-settings>
</p-dialog>
