<p-toolbar>
  <div class="p-toolbar-group-start flex items-center">
    <img class="mr-2" src="/assets/supabase-logo.png" alt="Supabase logo" />
    <h2>ng-supabase</h2>
  </div>

  <div class="p-toolbar-group-end">
    <p-button
      icon="pi pi-github"
      class="mr-2"
      severity="secondary"
      [rounded]="true"
      [text]="true"
      [link]="true"
      (click)="openGitHub()"
    >
    </p-button>

    <supabase-active-user-avatar-button></supabase-active-user-avatar-button>

    <p-button
      icon="pi pi-cog"
      class="ml-2"
      severity="secondary"
      [rounded]="true"
      (click)="showSettings.emit()"
    ></p-button>
  </div>
</p-toolbar>
