<p-toolbar>
  <div class="p-toolbar-group-start">
    <img class="mr-2" src="/assets/supabase-logo.png" alt="Supabase logo" />
    <h1 class="m-0 mr-2">ng-supabase</h1>
  </div>

  <div class="p-toolbar-group-end">
    <p-button
      icon="pi pi-github"
      [rounded]="true"
      [text]="true"
      severity="secondary"
      [link]="true"
      (click)="openGitHub()"
    >
    </p-button>

    <!-- <a href="https://angular.dev/" target="_blank" rel="noopener noreferrer">
      <i class="pi pi-github"></i>
    </a> -->

    <p-button
      icon="pi pi-cog"
      [rounded]="true"
      severity="secondary"
      (click)="showSettings.emit()"
    ></p-button>
  </div>
</p-toolbar>
